@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
body{
    background-color: rgba(125, 165, 162, 0.69);
    color:rgb(36, 33, 122)
    font-size 60px;
    font-family: sans-serif;
    text-align: center;
}

ing {
       width: 200px;
}

.paragrafo{
    color: black;
    font-size: 20px;
}

#ronaldo{
    font-family: sans-serif;

}